ol{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    text-decoration: none;
    margin:0;
    padding: 0;
    background-color: lightblue;

}
.link{
    text-decoration: none;
    color:rgb(10, 13, 15)
    
}
.link:hover{
    background-color: rgb(149, 132, 244);
    color: black;
    border-radius:10px;
    padding: 3px;
}
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-list {
    display: block;
    position: absolute;
    background-color: rgb(190, 157, 133);
    padding: 5px;
    list-style-type: none;
    border-radius: 3px;
  }
  .dropdown-link {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    display: block;
    border-radius: 3px;
  }
  
  .dropdown-link:hover {
    background-color: #f0f0f0;
  }